{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        {% load bootstrap3 %}
        {% bootstrap_css %}
        {% bootstrap_javascript jquery=1 %}
        <link href="{% static 'css/sandwich_builder.css' rel="stylesheet" %}">
    </head>





{% block bootstrap3_content %}

<nav class="navbar navbar-inverse navbar-static-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand">Greenblatt's Deli</a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav">
                <li><a href="{% url 'sandwich_builder:sandwich_index' %}">Sandwich Builder</a></li>
                <li><a href="{% url 'cart:show_cart' %}">Cart</a></li>
            </ul>
        </div>
    </div>
</nav>


{% block title %}<h1></h1>{% endblock %}

    {% bootstrap_messages %}

    {% block content %}(no content){% endblock %}

{% endblock %}
</html>